# Ignore configuration files that may contain sensitive information.

.DS_Store
.project
.sass-cache
settings.php
project.conf
books.local.make
builds
lib/profiles/books/images
lib/themes/dlts_book/css/*.css
